.background {
	background-color: #f9f9f9
}

.title {
	color: #cc0000;
}

.surveyButton {
	margin: 20px;
}

.component {
	padding: 5px;
}

.selected-navigation-item {
	color: black;
}

.selected-nav-account {
	font-weight: bold;
	color: green;
}

.table-title {
	padding-top: 5px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

.maxdrawdown {
	color: red;
	font-weight: bold;
	margin: auto;
	width: 20%;
	border: 3px solid red;
    padding: 10px;
}

/* override of Bootstrap */
.navbar-default {
    background-color: #ccff66;
    border-color: blue;
}

.btn-green {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
}
.btn-green:focus,
.btn-green:hover {
    background-color: #18a689;
    color: #fff;
}