.background {
	background-color: #f9f9f9
}

.title {
	color: white /*#cc0000*/;
}

.surveyButton {
	margin: 20px;
}

.component {
	padding: 5px;
}

.selected-navigation-item {
	color: black;
}

.selected-nav-account {
	font-weight: bold;
	color: green;
}

.table-title {
	padding-top: 5px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

.maxdrawdown {
	color: red;
	font-weight: bold;
	margin: auto;
	width: 30%;
	border: 3px solid red;
  padding: 10px;
}

/* override of Bootstrap */
.navbar-default {
    background-color: white /*#ccff66*/;
    border-color: blue;
}

.btn-green {
    background-color: #1ab394;
    color: #fff;
    border-radius: 3px;
}
.btn-green:focus,
.btn-green:hover {
    background-color: #18a689;
    color: #fff;
}

.survey_section {
    background-color: limegreen;
}

.bordered {
    border-color: blue;
    border-style: solid;
}
.wrapper {
  height: 500px !important;
}

.asset-bar {
  height: 15px;
  display: inline-block;
}

a:hover {
  background-color: gray
}

input {
  display: inline;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #cfcfcf;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  outline: none;
}